* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

main {
    flex: 1;
}

header {
    background-color: #b400e0;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    justify-content: flex-end;
}

nav a{
    color: #1eff00;
    text-decoration: none;
}

.logo img{
    height: 40px;
}

.titulo{
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    margin: 5rem auto 2rem;
    width: fit-content;
    border-radius: 20px;
}


footer{
    background-color: #333;
    color: #fff;
    justify-content: center;
    padding: 3rem;
    display: flex ;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 3rem;
    padding-right: 2rem;
}

.card img{
    background-color: #333;
    color: #fff;
    height: 400px;
    width: 400px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
