* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

main {
    flex: 1;
}

header {
    background-color: #b400e0;
    padding: 1rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    justify-content: flex-end;
}

nav a {
    color: #1eff00;
    text-decoration: none;
}

.hero {
    padding: 2rem;
}

.hero-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    
}

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-color: #333;
    align-items: center;
}

.hero-image{
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

@media (max-width: 768px) {
    .hero-grid{grid-template-columns: 1fr;}
}

footer{
    background-color: #333;
    color: #fff;
    justify-content: center;
    padding: 3rem;
    display: flex ;
}


.logo img{
    height: 40px;
}

.hero-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}