
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    overflow-x: hidden;
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 3rem;
}

main {
    flex: 1;
}

nav ul {
    color: #ffff;
    display: flex;
    gap: 1rem;
    list-style: none;
}

nav a {
    color: #ffff;
    text-decoration: none;
}

.logo img {
    height: 40px;
    margin-right: 4rem;
}

header {
    background: linear-gradient(135deg, #ff8f70 0%, #ff3d54 100%);
    min-height: 500px;
    gap: 2rem;
    border-bottom-left-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-login {
    margin-left: auto;
    display: flex;
    gap: 1rem;
}

.btn-login {
    background: transparent;
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 30px;
    color: #ffff;
    cursor: pointer;
    font-weight: 800;
}

.btn-signup {
    background-color: hsl(0, 0%, 100%);
    height: 50px;
    width: 100px;
    border-radius: 30px;
    color: #ff8f70;
    border: none;
    font-weight: 800;
    cursor: pointer;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10rem;
    gap: 2rem;
}

h1 {
    color: #ffffff;
    font-size: 3rem;
    font-weight: 600;
    word-spacing: 0.5em;
}

.hero-content p {
    color: #ffffff;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}

.btn-star {
    height: 50px;
    width: 150px;
    background-color: #ffff;
    color: #ff8f70;
    border-radius: 30px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    padding: 0;
}

.btn-learn {
    height: 50px;
    width: 150px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 30px;
    font-weight: 700;
    border: 2px solid #ffffff;
    cursor: pointer;
    padding: 0;
}

footer {
background-color: #25252d;
padding: 4rem 3rem;
color: white;
border-top-right-radius: 100px;
}

.footer-content {
display: flex;
gap: 8rem;
max-width: 1200px;
}

.footer-logo h2 {
font-size: 2rem;
font-weight: 700;
}

.footer-column h3 {
color: white;
margin-bottom: 2rem;
font-size: 1.1rem;
}

.footer-column ul {
list-style: none;
}

.footer-column li {
margin-bottom: 0.8rem;
}

.footer-column a {
color: #c4c4c4;
text-decoration: none;
}



.description-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:  3rem;

}

.description-section h2 {
    grid-column: 1 / -1; /* El h2 ocupa ambas columnas */
    color: #2b2b5f;
    text-align: center;
    padding-top: 9rem;
    font-size: 30px;
    margin-bottom: 4rem;
}

.description-content {
    text-align: left;
}

.description-content h3 {
    color: #2b2b5f;
    font-size: 25px;
    margin-bottom: 2.0rem;
}

.description-content p {
    color: #2b2b5f;
    font-size: 17px;
    line-height: 1.8;
}

.content-row {
    grid-column: 1 / -1; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;  /* AGREGA ESTO */
    margin-bottom: 2rem; 

}

.text-column {
    display: flex;
    flex-direction: column;
    gap: 3rem;  /* Espacio entre los dos textos */
}

.img {
    display: flex;
    justify-content: flex-end;
}

.img-1 {
    display: flex;
    justify-content: flex-end;
    height: 700px;
    margin-right: -260px;
}

.blue-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;
    background-color: #3b3c59 ;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    color: #ffff;
    min-height: 400px;
    align-items: center;
    overflow: visible;  /* CAMBIA ESTO - permite que la imagen sobresalga */
    position: relative;  /* Para controlar el z-index si hace falta */
    background-image: url(../img/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: left -10.7rem top -33rem;
}

.img-2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;  /* Alinea la imagen abajo */
    margin-bottom: -700px;
    margin-top: -700px;  /* La imagen sale hacia ABAJO del contenedor */
}

.img-2 img {
    height: 550px;  /* Más grande para que sobresalga */
    width: auto;
}

.blue-text {
    font-size: 20px;
}

.blue-text h4 {
    font-size: 30px;
    margin-bottom: 2rem;
    
}



.description-section-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.description-section-2 h5 {
    grid-column: 1 / -1; /* El h2 ocupa ambas columnas */
    color: #2b2b5f;
    text-align: center;
    padding-top: 9rem;
    font-size: 30px;
    margin-bottom: 4rem;
}

.description-content-2 {
    text-align: left;
}

.description-content-2 h5 {
    color: #2b2b5f;
    font-size: 25px;
}

.description-content-2 p {
    color: #2b2b5f;
    font-size: 17px;
    line-height: 1.8;
}

.content-row-2 {
    grid-column: 1 / -1; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;  /* AGREGA ESTO */
    margin-bottom: 2rem; 

}

.text-column-2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;  /* Espacio entre los dos textos */
}

.img-laptop {
    display: flex;
    justify-content: flex-start;
}

.img-3 {
    display: flex;
    justify-content: flex-start;
    height: 700px;
    margin-left: -244px;
}