* {
     margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;

}

.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


main {
    flex: 1;
}

nav ul {
    color: #ffff;
    display: flex;
    gap: 1rem;
    list-style: none;
}

nav a {
    color: #ffff;
    text-decoration: none;
}

.logo img {
    height: 40px;
    margin-right: 4rem;
}

header {
    background: linear-gradient(135deg, #ff8f70 0%, #ff3d54 100%);
    min-height: 500px;
    gap: 2rem;
    border-bottom-left-radius: 100px;
    display: flex;
    align-items: flex-start;
}
